.header {
    display: flex;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-logo {
    height: 50px;
    cursor: pointer;
}

.header-home-button {
    background-color: #e74c3c;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    border: none;
}

.header-home-button:hover {
    background-color: #c0392b;
}
