.quiz-container {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
}

.quiz-container p {
    text-align: justify;
    font-size: 1rem;
    margin: 10px 0;
    line-height: 1.5;
}
  
.quiz-container h1 {
    color: black;
}

.question-container img {
    width: auto;
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
    display: block;
    margin: 0 auto 20px;
}

.quiz-container .score {
    font-size: 20px;
    margin-top: 20px;
    color: #3498db;
}

.correct {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.incorrect {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

.selected {
    border: 2px solid #3498db;
    background-color: #eaf4fc;
}

.instruction {
    font-size: 1rem;
    font-weight: bold;
    color: #34495e;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .quiz-container {
        padding: 15px;
    }

    .quiz-content {
        margin-top: 80px;
    }

    .quiz-container p {
        font-size: 0.9rem;
    }

    .question-container img {
        max-height: 200px;
    }

    .score-table th,
    .score-table td {
        padding: 5px;
    }

    .score-table {
        font-size: 0.8rem;
    }
}
